/* styles/double.module.css */
.outer {
  padding: 6px;
  border: 1px solid gold;
  border-radius: 20px;
  display: inline-block;
}

/* styles/double.module.css */
.middle {
  padding: 1px;
  background-color: black;
  border-radius: 20px;
  display: inline-block;
}

.inner {
  padding: 24px;
  border: 2px solid gold;
  border-radius: 16px;
  background-color: white;
}
