/* styles/logo.module.css */

.basic {
  display: inline-block;
  text-decoration: none;
}

.box {
  composes: basic;
  padding: 0em 1em;
  /* background-color: var(--gray-75); */
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

/* 画像を包むラッパー */
.logoWrapper {
  position: relative;
  width: 60px;
  height: 60px;
}

@media (min-width: 768px) {
  .logoWrapper {
    width: 60px;
    height: 60px;
  }
}

/* next/image に fill させる */
.logoImage {
  object-fit: contain;
  width: 100%;
  height: auto;
}
