/* styles/social.module.css */
.list {
  display: flex;
  gap: 1.5em;
  flex-wrap: wrap;
  /* font-size: var(--icon-size, 24px);*/
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.icon {
  width: 24px;
  height: 24px;
}

@media (max-width: 480px) {
  .list {
    gap: 1em;
    display: flex;
  }
  .icon {
    width: 20px;
    height: 20px;
  }
}
