/* video-background.module.css */
.video-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* 背景に配置 */
  overflow: hidden;
}

.video-bg {
  width: 100%;
  height: 100%;
  object-fit: cover; /* 画面いっぱいに表示 */
}
